header {
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 4px solid orange;
}

header a {
  text-decoration: none;
}

.header__title {
  font-size: 30px;
  color: white;
  padding: 27px 97px;
}

.header__links {
  padding: 34px 120px 35px 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link {
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
}

.header__link:hover {
  cursor: pointer;
}

.right-wall {
  position: relative;
}
.right-wall::after {
  position: absolute;
  top: 3px;
  right: 0px;
  content: "";
  width: 2px;
  height: 30px;
  background-color: white;
}

.header__menu-icon {
  display: none;

  width: 30px;
  height: 30px;
  background-color: orangered;
}

@media (max-width: 900px) {
  header {
    position: relative;
  }

  .header__links {
    position: absolute;
    bottom: 0px;
    left: 0px;
    flex-direction: column;
    transform: translateY(100%);
    width: 100vw;
  }

  .header__link {
    width: 100%;
    text-align: center;
  }

  .header__menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__menu-icon:hover {
    cursor: pointer;
  }
}
